body {
    padding: 0 30px;
    font-size: 15px;
    line-height: 30px;
    font-family: "Arial", sans-serif;
    color: #222222;
    
  
    background:lightsalmon;
  }
  .p{
    
        margin-left: auto;
        margin-right: auto;
        width: 6em
  }

